<!DOCTYPE html>
    <head>
        <meta></meta>
    </head>

    <body>
        <style>
            .blue{
                color:blue;
            }
            .red{
                color:red;
            }
        </style>
   
        <div id="root">
            <h1 :class="className">test</h1>
            <ul>
                <li v-for="name in names">
                        {{name}}
                </li>
            </ul>   
            <input type="text" id="input" v-model="name">
            <input type="button" id="button" value="Submit" @click="addName">

          </div>
      
         
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script>
               var app =  new Vue({
                    el:'#root',
                    data:{
                        name:'',
                        names: ['jean', 'cocean', 'ocean'],
                        className:"blue"
                    },
                    methods:{
                        addName(){
                           this.setRed();
                           this.names.push(this.name);     
                           this.name = '' ;
                        },
                        setRed() {
                            if((this.names.length % 2) === 1) {
                                this.className = "red";
                            }   else {
                                this.className = "blue";
                            } 
                          
                        }
                    }
                 
                })
        </script>
    </body>
</html>
